/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Russo+One&display=swap');

/* Styles for the body */

body {

  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;

	color: #20203;
	background-color: #966CD4;
}

.big-boy {
	color:aquamarine;
}

h4 {font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
font-weight: 600;
font-style: oblique;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #FFA21D;
	color: brown;
}

.resume-main {
	background-color: #fffefc;
	color: black;
}

.resume-aside {
	background-color: #A7D7CD;
	color: black;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #E64343;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}


